@charset "utf-8";
html {
  font-size: 100%;
  letter-spacing: 0.03em;
  line-height: 1.3rem;
}
body {
  color: #000;
  font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
img {
  width: 100%;
}

body, html{
	height: 100%;
}
.wrapper{
	position: relative;
}


// font 
$font_en :'Roboto', sans-serif;


%pos {
  position: absolute;
  content: "";
}

::placeholder {
  color: $txt_color;
}

.sp-only{
	display: none;
}

@include media-sp{
	.sp-only{
		display: block;
	}
	.pc-only{
		display: none;
	}
}

.fixed{
	overflow: hidden;
}
h2{
  letter-spacing: 0;
  text-transform: uppercase;
  @include media-si{
    @include fontSize(32px);
  }
  .jp{
    @include fontSize(13px)
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    @include media-si{
      @include fontSize(12px);
    }
  }
}

.only_sp{
  display: none;
}

@include media-si{
  .only_sp{
    display: block;
  }
  
  .only_pc{
    display: none;
  }
}

.time, .tag{
  color: $private;
  @include fontSize(14px);
  font-family: $font_en;
  letter-spacing: 0;
  @include media-si{
    @include fontSize(13px);
  }
}
.tag{
  color: $txt_color;
  text-transform: uppercase;
}
.viewall{
  text-align: right;
  display: block;
  @include fontSize(13px);
  font-weight: bold;
  color: $txt_color;
  letter-spacing: 0;
  position: relative;
  transition: 0.3s all;
  @include media-si{
    @include fontSize(12px);
  }
  &:hover{
    //transform: translateX(10px);
    color: $private;
  }
}
// hover
.hover{
  &_scale{
    overflow: hidden;
    @include media-pc{
      &:hover{
        img{
          transform: scale(1.08);
        }
      }
    }
    img{
      transition: transform 0.3s linear;
    }
  }
}
.hidden {
  opacity: 0;
}
.showElement{
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

[v-cloak] { 
  display:none; 
}

.header__left{
  h1, h2{
    font-size: inherit;
    margin: 0;
  }
}
.content{
  .header__right{
    li a{
      color: $private;
    }
  }
  &__page{
    margin-top: 180px;
    position: relative;
    @include media-pc{
      max-width: 67.5vw;
      margin: 180px auto 100px;
    }
    &.page_buyguide{
      @include media-pro{
        max-width: 94.5vw;
      }
      
    }
    &.fx_ctxt{
       margin-top: 80px;
       @include media-sp{
        margin-top: 40px;
      }
    }
    &.category__page{
      margin-bottom: 120px;
      @include media-pro{
        max-width: 95%;
      }
      @include media-ip{
        margin-bottom: 70px;
      }
      @include media-sp{
        margin-bottom: 55px;
      }
    }
    
    @include media-si{
      padding: 0;
      margin-top: vw(90px);
      max-width: 100%;
    }
    h2, h1{
      @include fontSize(28px);
      color: $private;
      font-weight: bold;
      @include media-si{
        @include fontSize(24px);
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
      }
    }
    .count__item{
      @include media-si{
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
      }
    }
    &--product_detail{
      max-width: 100%;
      margin: 150px auto 100px;
      @include media-pc{
        padding-right: 0;
      }
      @include media-sp{
        margin-top: 90px;
        margin-bottom: 60px;
      }
    }
  }
  &__header-bg{
    .header--bgchange{
      background-color: rgba(255,255,255,0.8);
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.1);
    }
    .icon-menu ul li{
      @include media-si{
        background-color: $private;
      }
    }
  }
}

.p-30{
  padding: 0 1.875vw;
  @include media-si{
    padding: 0;
  }
}
.m-30{
  margin: 0 -1.875vw;
  @include media-si{
    margin:  0;
  }
}

.p-40{
  padding: 0 2.5vw;
  @include media-si{
    padding: 0;
  }
}
.m-40{
  margin: 0 -2.5vw;
  @include media-si{
    margin:  0;
  }
}
.dl-horizontal{
  display: flex;
  flex-wrap: wrap;
  @include fontSize(13px);
  color: $private;
  dt{
    width: 25%;
    @include media-sp{
      width: 30%;
    }
  }
  dd{
    width: 75%;
    @include media-sp{
      width: 70%;
    }
  }
  dt, dd{
    padding: 30px 10px 30px 20px;
    border-top: 1px solid #D6D6D6;
    @include media-sp{
      padding: 25px 10px 25px 20px;
    }
  }
}
.note{
  @include fontSize(12px);
  color: $private;
}

// breadcrumb
.breadcrumb{
  padding-left: 2.5vw;
  padding-top: 120px;
  @include media-sp{
    padding-left: 10px;
    padding-top: 70px;
  }
  li{
    position: relative;
    padding-right: 22px;
    @include media-sp{
      padding-left: 0;
    }
    @include fontSize(12px);
      color: $txt_color;
      &:before{
        @extend %pos;
        width: 1px;
        height: 80%;
        background-color: #D6D6D6;
        right: 9px;
        bottom: 0;
        top: 0;
        margin: auto;
      }
      &:last-child{
        color:$private;
      }
      &:last-child{
        &:before{
          opacity: 0;
        }
      }
    a{
      @include fontSize(12px);
      color: $txt_color;
    }
  }
}

// category information page setup

.category__information-detail{
  h2{
    @include fontSize(26px);
    @include media-sp{
      @include fontSize(24px);
    }
  }

  p, a{
    color: $private;
    line-height: 1.7;
    @include media-sp{
      @include fontSize(14px);
      letter-spacing: 0;
    }
  }
  ul li, ol li, dl dd, dl dt{
    line-height: 1.7;
    @include media-sp{
      @include fontSize(14px);
      letter-spacing: 0;
    }
  }
  h3{
    font-weight: bold;
    line-height: 1.7;
    @include fontSize(22px);
    color: $private;
  }
  h4{
    font-weight: bold;
    line-height: 1.7;
    @include fontSize(18px);
    color: $private;
  }
  h5{
    font-weight: bold;
    line-height: 1.7;
    @include fontSize(16px);
    font-weight: bold;
    color: $private;
  }
}